@keyframes slide {
    from {left: 100%;}
    to {left: 0%}
}

#emoji {
    animation: slide;
    position: absolute;
    animation-duration: 3s;
    animation-direction: left;
    animation-iteration-count: infinite;
}